
/* Cantonese Vocabulary Table
 *
 * Written by Albert Ong
 * 
 * Revision: 21.12.2019
*/



/*
@font-face {
    font-family: 'Test';
    src: url("FreeSans.ttf")
}
*/

body {
  padding: 1em 0em 2em 2em;
  width: 90%;
  font-family: sans-serif; 
}

.table-of-contents {
  font-size: 11pt; 
  width: 85em; 
}

.table-of-contents .heading {
  background-color: lightgray;
}

.table-of-contents ul {
  vertical-align: top;
  text-align: left; 
  padding-left: 1.5em; 
}

h1, h2, h3 {
  text-align: center;
}

table {
  margin: auto; 
  font-size: 12 pt; 
  margin-bottom: 4em; 
}

table, th, td {
  border: 1px solid black; 
  border-collapse: collapse; 
  width: 50em; 
}

th, td {
  padding: 0.5em; 
  text-align: center; 
}

th {
  background-color: lightgray;
}
